<script>
  import {sortedEmployer} from "./sortedEmployer";
</script>

<svelte:head>
  <title>
    Untukmu yang terdampak, temukan beberapa perusahaan yang masih membuka
    lowongan
  </title>
</svelte:head>

<h1>
  Untukmu yang terdampak, temukan beberapa perusahaan yang masih membuka
  lowongan:
</h1>

<ul>
  {#each sortedEmployer as employer}
    <li>
      <a href={employer.link} target="_blank" rel="noreferrer"
        >{employer.name}</a
      >
      <p>{employer.description}</p>
    </li>
  {:else}
    <li>data perusahaan belum tersedia</li>
  {/each}
</ul>

<hr />
<h4>Ingin perusahaanmu ada di daftar kami?</h4>
<p>
  <a
    href="https://github.com/rizafahmi/carikerja"
    target="_blank"
    rel="noreferrer"
  >
    Clone repositori ini
  </a>
  dan tambahkan data baru di
  <code>src/data/employer.js</code>
  . Bisa juga edit langsung via
</p>
