<script>
  import people from "$src/data/people.js";
  import {onMount} from "svelte";
  import Select from "svelte-select";

  /** @type {Person[]} */
  export let sortedPeople = [];

  let getAllLocation = Array.from(
    new Set(people.map((person) => person.location)),
  ).sort();

  let getAllTechStack = Array.from(
    new Set(
      people
        .filter((person) => !person.hired)
        .flatMap((person) =>
          person.tech_stack.map((tech) => tech.toUpperCase()),
        ),
    ),
  ).sort();

  function getSortedPeople() {
    sortedPeople = people
      .filter((person) => !person.hired)
      .sort((a, b) => a.name.localeCompare(b.name))
      .filter((person, index, self) => {
        return (
          self.findIndex(
            (predicateVariable) =>
              predicateVariable.name.replace(/\s/g, "").toLowerCase() ===
                person.name.replace(/\s/g, "").toLowerCase() &&
              // @ts-ignore TODO: need to check social_media type
              predicateVariable.social_media["Linkedin"] ===
                // @ts-ignore
                person.social_media["Linkedin"],
          ) === index
        );
      });
  }

  const filter = {
    /** @type {string | null} */
    location: null,
    /** @type {string[]} */
    techStacks: [],
  };

  function filterPeople() {
    getSortedPeople();

    if (filter.location) {
      sortedPeople = sortedPeople.filter(
        (person) => person.location === filter.location,
      );
    }

    if (filter.techStacks.length) {
      sortedPeople = sortedPeople.filter((person) => {
        return filter.techStacks.some((techStack) =>
          person.tech_stack
            .map((stack) => stack.toUpperCase())
            .includes(techStack),
        );
      });
    }
  }

  /**	@param {CustomEvent<{ value: string }>} e */
  function handleLocationChange(e) {
    const location = e.detail ? e.detail.value : null;
    filter.location = location;

    filterPeople();
  }

  /**	@param {CustomEvent<{ value:string }[]>} e */
  function handleStackChange(e) {
    const techStacks = e.detail ? e.detail.map((value) => value.value) : [];
    filter.techStacks = techStacks;

    filterPeople();
  }

  /** @type {{ text: string; style: string }[]} */
  let badges = [];

  /** @param {string} text */
  function getBadgeStyle(text) {
    if (!text) return;
    const existingBadge = badges.find(
      (badge) => badge.text === text.toLowerCase(),
    );
    if (existingBadge) {
      return existingBadge.style;
    }

    const red = Math.floor(Math.random() * 256);
    const green = Math.floor(Math.random() * 256);
    const blue = Math.floor(Math.random() * 256);

    const yiq = (red * 299 + green * 587 + blue * 114) / 1000;
    const textColor = yiq >= 128 ? "#000" : "#fff";

    const style = `background-color: rgb(${red}, ${green}, ${blue}); color: ${textColor}`;

    badges.push({text: text.toLowerCase(), style});

    return style;
  }

  onMount(getSortedPeople);
</script>

<svelte:head>
  <title>
    Daftar engineer keren yang terkena dampak pemutusan hubungan kerja karena
    pandemi.
  </title>
</svelte:head>

<h4>Kata siapa cari software engineer yang berpengalaman itu susah?</h4>
<p>
  Sekarang, kami buat jadi mudah! Berikut adalah daftar engineer keren yang
  terkena dampak pemutusan hubungan kerja karena pandemi.
</p>
<div class="filter">
  <div>
    <span>Cari Berdasarkan Tech Stack</span>
    <Select
      on:select={handleStackChange}
      items={getAllTechStack}
      isMulti={true}
      id="inputTechStack"
    />
  </div>
  <div>
    <span>Cari Berdasarkan Lokasi</span>
    <Select
      data-testid="location-select"
      on:select={handleLocationChange}
      on:clear={handleLocationChange}
      items={getAllLocation}
      id="inputLocation"
    />
  </div>
</div>
<div>
  {#each sortedPeople as p}
    <div class="terminal-card">
      <header>{p.name}</header>
      <ul>
        <li>⏲️ {p.status}</li>
        <li>💻 {p.role}</li>
        <li id="listLocation">📍 {p.location}</li>
        {#if p.tech_stack.length}
          <li>
            ⚙️
            {#each p.tech_stack as tech}
              <span class="badge" style={getBadgeStyle(tech)}>{tech}</span>
            {/each}
          </li>
        {/if}
        <li>
          {#if p.hired}
            <div class="hired">HIRED!</div>
          {/if}

          {#if typeof p.social_media === "string"}
            <span>🔗</span>
            <a href={p.social_media} target="_blank" rel="noreferrer"
              >Linkedin</a
            >
          {/if}

          {#if typeof p.social_media === "object"}
            {#each Object.entries(p.social_media).sort() as [key, value]}
              <span>🔗</span>
              <a href={value} target="_blank" rel="noreferrer">{key}</a>
            {/each}
          {/if}
        </li>
      </ul>
    </div>
  {/each}
  <hr />
</div>
<div>
  <h4>Mau menambahkan seseorang?</h4>

  <a
    href="https://github.com/rizafahmi/carikerja"
    target="_blank"
    rel="noreferrer"
  >
    Clone repositori ini
  </a>
  dan tambahkan data baru di
  <code>src/data/people.js</code>. Bisa juga edit langsung melalui
  <a
    href="https://github.com/rizafahmi/carikerja/edit/main/src/data/people.js"
    target="_blank"
    rel="noreferrer"
  >
    Github
  </a>.
</div>

<style>
  .terminal-card {
    margin: 1em;
  }
  ul {
    margin-left: 1em;
  }
  li {
    margin-bottom: 0.5em;
  }
  .badge {
    margin-right: 0.5em;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 0.25em;
    display: inline-block;
  }
  .hired {
    background-color: rgba(21, 21, 21, 0.75);
    z-index: 999;
    position: absolute;
    display: inline-block;
    color: #d20862;
    font-size: 2em;
    font-weight: 870;
  }

  .filter {
    display: flex;
    gap: 2rem;
  }

  .filter > div {
    flex: 1 1 0%;
  }
</style>
