<script>
  import {theme} from "$src/stores/theme.js";

  $: dark = $theme === "Dark";

  function toggleTheme() {
    // jika di localStorage tidak ada data tema maka ganti tema menjadi tema Gelap
    const newTheme =
      $theme === null ? "Dark" : $theme === "Light" ? "Dark" : "Light";
    theme.set(newTheme);
    localStorage.setItem("theme", newTheme);
  }
</script>

<nav class="terminal-nav">
  <header class="terminal-logo">
    <div class="terminal-prompt">
      <a href="/" class="no-style">Carikerja</a>
    </div>
  </header>
  <div class="terminal-menu">
    <ul typeof="BreadcrumbList">
      <li>
        <a data-testid="tentang-link" href="about"> Tentang </a>
      </li>
      <li>
        <a data-testid="hiring-link" href="hiring"> Hiring? </a>
      </li>
      {#if $theme !== null}
        <li>
          <button
            on:click={toggleTheme}
            class="button-switch-theme"
            class:dark
            data-testid="theme-switch"
          >
            {$theme === "Dark" ? "🌜 " + $theme : "🌞 " + $theme}
          </button>
        </li>
      {/if}
    </ul>
  </div>
</nav>

<style>
  .button-switch-theme {
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-width: 0;
    border-radius: 1em;
    display: inline-block;
    background: #eee;
    cursor: pointer;
  }
  .dark {
    background: #162a44;
    color: #fff;
  }
</style>
