<svelte:head>
  <title>Tentang Carikerja</title>
</svelte:head>

<h1>Tentang Carikerja</h1>

<p>
  Kami menghubungkan para Software Engineer kece di tanah air yang terpaksa
  harus terkena pemutusan hubungan kerja karena pandemi COVID-19 dengan
  perusahaan yang sedang mencari talenta digital.
</p>
<h4>Ingin menambahkan seseorang?</h4>
<a
  href="https://github.com/rizafahmi/carikerja"
  target="_blank"
  rel="noreferrer"
>
  Clone repositori ini
</a>
dan tambahkan data baru di <code>src/data/employer.js</code>. Bisa juga edit
langsung melalui
<a
  href="https://github.com/rizafahmi/carikerja/edit/main/src/data/employer.js"
  target="_blank"
  rel="noreferrer"
>
  Github
</a>.
